<template>
  <div id="app">
   <button @click="handleClick">点击按钮切换图片类型</button>
   <MorePic  v-if="isShowMorePic"/>
   <Main v-else></Main>
  </div>
</template>

<script>
import Main from './view/Main.vue'
import MorePic from './view/morePic.vue'

export default {
  name: 'app',
  data () {
    return {
      isShowMorePic: true
    }
  },
  methods: {
    handleClick() {
      this.isShowMorePic = !this.isShowMorePic
    }
  },
  components: {
    Main,
    MorePic,
  }
}
</script>

<style>
#app {
 
}
</style>
